@import '../_vars.scss';
header {
  height: 116px;
  .blog-name {
    font: {
      size: $logo-size;
      weight: 700;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      margin-left: 7.5px;
      margin-right: 7.5px;
      a {
        padding: 7.5px;
      }
    }
  }
}
.submenu {
  background-color: #000;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__item {
    margin-left: 7.5px;
    margin-right: 7.5px;
    a {
      padding: 7.5px;
      transition: all 0.2s ease-out;
      &:hover { color: #aaa; }
    }
    &:first-child {
      margin-left: 5px;
      a { margin-left: -7.5px; }
    }
  }
  ul {
    display: flex;
    align-items: center;
  }
}